<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask Test</title>
    <style>
      .position-center {
        margin: 3rem auto;
      }
      .text-center {
        text-align: center;
      }
      .text-left {
        text-align: left;
      }
    </style>

    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script>
      $(function () {
        $('#domain').keyup(function () {
          var val = $(this).val()
          $('#crt').text('www.' + val + '.crt')
          $('#ca').text('www.' + val + '.ca')
          $('#key').text('www.' + val + '.key')
        })
      })
    </script>
  </head>
  <body>
    <div>
      <div class="text-left"><pre>{{result}}</pre></div>
      <div class="text-left">
        <a href="{{crt_path}}">{{crt_path}}</a>
      </div>
      <div class="text-left">
        <a href="{{ca_path}}">{{ca_path}}</a>
      </div>
      <div class="text-left">
        <a href="{{key_path}}">{{key_path}}</a>
      </div>
    </div>
  </body>
</html>
