<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask Test</title>
    <style>
      .position-center {
        margin: 3rem auto;
      }
      .text-center {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div>
      <div class="text-center"><a href="ls">ls コマンド</a></div>

      <div class="text-center"><a href="certs">証明書</a></div>
      <div class="text-center position-center">
        <form method="post" action="/upload" enctype="multipart/form-data">
          <input type="file" name="file" />
          <button>upload</button>
        </form>
      </div>
      <br />
      <div class="text-center">
        <table class="position-center">
          <tr>
            <th>No.</th>
            <th width="300">ファイル名</th>
            <th width="300">画像</th>
          </tr>
          {%- for i in range( images|length ) %}
          <tr>
            <td>{{i+1}}</td>
            <td width="150">
              <a href="{{images[i]}}"
                >{{images[i].replace("static/image/","")}}</a
              >
            </td>
            <td width="300"><img src="{{images[i]}}" width="300" /></td>
          </tr>
          {%- endfor %}
        </table>
      </div>
    </div>
  </body>
</html>
