<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>View</title>
    <style>
      .position-center {
        margin: 3rem auto;
      }
      .text-center {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <table class="position-center">
      <tr>
        <th>No.</th>
        <th width="300">Type</th>
      </tr>
      {%- for i in range( data|length ) %}
      <tr>
        <td>{{data[i][0]}}</td>
        <td width="150">{{data[i][1]}}</td>
      </tr>
      {%- endfor %}
    </table>
  </body>
</html>
